button {
    background: white;
    text-transform: uppercase;
    padding: 15px 45px;
    font-family: "Inter", sans-serif;
    border: 2px solid black;
    letter-spacing: 2px;
    cursor: pointer;
}