footer {
    margin: 30px auto 80px;
    background: $white;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .footer-left {
        margin: 60px;
        display: grid;
        justify-items: center;
        grid-template-areas: 
        "na"
        "ta"
        "bt";

        & > div {
            width: 70%;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-family: "inter", sans-serif;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: $black;
            letter-spacing: 1px;
        }

        input {
            padding: 15px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            background: none;
            border: 1px solid rgb(209, 209, 209);
            border-radius: 5px;
            resize: none;
            margin: 20px 0 40px;
            padding: 15px;
        }

        button {
            background: none;
            border: 2px solid $black;
            padding: 15px 30px;
        }

        #name {
            grid-area: na;
        }

        #email {
            grid-area: em;
        }

        #message {
            grid-area: ta;
        }
       
    }

    .footer-right {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        border-left: 1px solid rgb(209, 209, 209); 

        div {
            display: grid;
            grid-template-columns: 30% 70%;
            align-content: center;
            border-top: 1px solid rgb(209, 209, 209);
            padding-left: 50px;
        }

        p {
            font-style: normal;
            line-height: 30px;

            &:first-child {
                font-family: "Inter", sans-serif;
                text-transform: uppercase; 
                color: rgb(112, 112, 112);
                letter-spacing: 1px;
            }
            &:last-child {
                color: rgb(134, 134, 134);    
            }
        }


        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li {
                padding-right: 10px;
            }

            i {
                    width: 50px;
                    height: 50px;
                    border: 1px solid rgb(209, 209, 209);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    transition: 0.4s ease;
            }
        }

     }
    @media screen and (max-width: 814px) {
        display: block;

        .footer-left {
            padding-top: 80px;
        }

        .footer-right {
            & > div {
                display: flex;
                gap: 10px;
                align-items: flex-start;
                height: 100%;
                padding: 40px;
                border: 1px solid rgb(209, 209, 209);
                border-top: none;

                &:first-child {
                    border-top: 1px solid rgb(209, 209, 209);
                }
    
            }

            ul {
                width: 100%;
            }

        }
        
    }

    @media screen and (max-width: 440px) {
        .footer-left {
            margin: 0 0 60px;
        }
        .footer-right {

            & > div {
                padding: 40px 20px;
            }

            ul {
                               
                i {
                    width: 40px;
                    height: 40px;
                    border: 1px solid rgb(209, 209, 209);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    transition:.4s ease;
                }
            }
        }
    }
}
