footer {
    margin: 30px auto 80px;
    background: $white;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .footer-left {
        display: grid;
        justify-items: center;
        grid-template-areas: 
        "na em"
        "ta ta"
        "btn btn";

        label {
            margin-bottom: 5px;
        }

        input[type="text"],
        textarea {
            width: 100%;
        }

        #name {
            grid-area: na;
        }

        #email {
            grid-area: em;
        }

        #message {
            grid-area: ta;
        }
       
    }
}
