header {
    color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 90% 10%;

        .header-top {           
            @include centerChild;
            text-align: center;
            opacity: 0;
            transform: translateY(40px);
            animation: headerAnim 1.5s forwards;

            .header-container {

                h1 {
                    font-size: 5rem;
                    max-width: 55%;
                    margin: 0 auto;
                    letter-spacing: 6px;
                }

                p {
                    padding: 40px 0 80px;
                    font-size: 1.3rem;
                }

                i {
                    width: 60px;
                    height: 60px;
                    border: 2px solid #ffffff;
                    border-radius: 50%;
                    @include centerChild;
                    margin: auto;

                    i {
                        font-size: 1.4rem;
                    }
                }

                @keyframes headerAnim {
                    to {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 768px) {
                    h1 {
                        font-size: 3rem;
                        max-width: 70%;
                    }
                }

                @media screen and (max-width: 430px) {
                    h1 {
                        font-size: 2rem;
                        max-width: 90%;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    
                }    
            }
        }
      

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba(158, 158, 158, 0.459);
            text-transform: uppercase; 
            font-family: "Inter", sans-serif;           
            width: 80%;
            margin: 0 auto;
            z-index: 100;

            li {
                transition: 0.3s;     
                cursor: pointer;
            }

            .navbar-left {
                width: 50%;
                height: 100%;

                &:hover li:not(:hover) {
                    background: none;
                    color: $white;
                }

                li {
                    height: 100%;
                    @include centerChild;
                    padding: 0 20px;
                    text-align: center;

                    &:first-child {
                        background: $white;
                        color: black;
                    }
                    &:hover {
                        background: $white;
                        color: black;
                        transition: 0.3s;
                    }

                    @media screen and (max-width: 480px) {
                        font-size: 0.8rem;
                        padding: 0;                    
                    }                   
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }

            .navbar-right {
                font-size: 1.4rem;
                width: 25%;
                min-width: 200px;
                max-width: 300px;
                height: 100%;
                margin-left: 10px;                

                ul {
                    justify-content: space-between;
                    padding: 0 40px;                   
                }

                li:hover {
                    transform: scale(1.2); 
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            ul {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }  
}
