@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@font-face {
    font-family: "Inter";
    src: url(../../fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(../../fonts/Merriweather-Light.ttf);
}

$color1: rgb(122, 122, 122);
$white: rgb(228, 228, 228);
$black: rgb(95, 95, 95);

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}
// @include centerChild pour inclure 

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Merriweather", sans-serif;
    overflow-x: hidden;
    p {
        font-style: italic;
    }
    h1,
    h2 {
        font-family: "Inter", sans-serif;
        text-transform: uppercase;
    }
    a:visited {
        color: black; /* Couleur pour les liens visités (par exemple, violet) */
      }
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgb(15, 15, 15);
        animation: animBefore 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefore {
            to {
                opacity: 0;
            }
        }
    }
}
